div#landing-screen
{
    display: table;
    height:100vh;
    width: 100%;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20%20%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20%20%20%20%20width%3D%222048%22%20height%3D%221365%22%0A%20%20%20%20%20viewBox%3D%220%200%202048%201365%22%3E%0A%20%20%3Cfilter%20id%3D%22blur%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%2220%2020%22%20edgeMode%3D%22duplicate%22%20/%3E%0A%20%20%20%20%3CfeComponentTransfer%3E%0A%20%20%20%20%20%20%3CfeFuncA%20type%3D%22discrete%22%20tableValues%3D%221%201%22%20/%3E%0A%20%20%20%20%3C/feComponentTransfer%3E%0A%20%20%3C/filter%3E%0A%20%20%3Cimage%20filter%3D%22url%28%23blur%29%22%0A%20%20%20%20%20%20%20%20%20xlink%3Ahref%3D%22data%3Aimage/jpeg%3Bbase64%2C/9j/4AAQSkZJRgABAQEASABIAAD//gAbY21wMy4xMC4zLjNMcTQgMHhkMWYwMGFhZP/iDFhJQ0NfUFJPRklMRQABAQAADEhMaW5vAhAAAG1udHJSR0IgWFlaIAfOAAIACQAGADEAAGFjc3BNU0ZUAAAAAElFQyBzUkdCAAAAAAAAAAAAAAAAAAD21gABAAAAANMtSFAgIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEWNwcnQAAAFQAAAAM2Rlc2MAAAGEAAAAbHd0cHQAAAHwAAAAFGJrcHQAAAIEAAAAFHJYWVoAAAIYAAAAFGdYWVoAAAIsAAAAFGJYWVoAAAJAAAAAFGRtbmQAAAJUAAAAcGRtZGQAAALEAAAAiHZ1ZWQAAANMAAAAhnZpZXcAAAPUAAAAJGx1bWkAAAP4AAAAFG1lYXMAAAQMAAAAJHRlY2gAAAQwAAAADHJUUkMAAAQ8AAAIDGdUUkMAAAQ8AAAIDGJUUkMAAAQ8AAAIDHRleHQAAAAAQ29weXJpZ2h0IChjKSAxOTk4IEhld2xldHQtUGFja2FyZCBDb21wYW55AABkZXNjAAAAAAAAABJzUkdCIElFQzYxOTY2LTIuMQAAAAAAAAAAAAAAEnNSR0IgSUVDNjE5NjYtMi4xAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABYWVogAAAAAAAA81EAAQAAAAEWzFhZWiAAAAAAAAAAAAAAAAAAAAAAWFlaIAAAAAAAAG%2BiAAA49QAAA5BYWVogAAAAAAAAYpkAALeFAAAY2lhZWiAAAAAAAAAkoAAAD4QAALbPZGVzYwAAAAAAAAAWSUVDIGh0dHA6Ly93d3cuaWVjLmNoAAAAAAAAAAAAAAAWSUVDIGh0dHA6Ly93d3cuaWVjLmNoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGRlc2MAAAAAAAAALklFQyA2MTk2Ni0yLjEgRGVmYXVsdCBSR0IgY29sb3VyIHNwYWNlIC0gc1JHQgAAAAAAAAAAAAAALklFQyA2MTk2Ni0yLjEgRGVmYXVsdCBSR0IgY29sb3VyIHNwYWNlIC0gc1JHQgAAAAAAAAAAAAAAAAAAAAAAAAAAAABkZXNjAAAAAAAAACxSZWZlcmVuY2UgVmlld2luZyBDb25kaXRpb24gaW4gSUVDNjE5NjYtMi4xAAAAAAAAAAAAAAAsUmVmZXJlbmNlIFZpZXdpbmcgQ29uZGl0aW9uIGluIElFQzYxOTY2LTIuMQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAdmlldwAAAAAAE6T%2BABRfLgAQzxQAA%2B3MAAQTCwADXJ4AAAABWFlaIAAAAAAATAlWAFAAAABXH%2BdtZWFzAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAACjwAAAAJzaWcgAAAAAENSVCBjdXJ2AAAAAAAABAAAAAAFAAoADwAUABkAHgAjACgALQAyADcAOwBAAEUASgBPAFQAWQBeAGMAaABtAHIAdwB8AIEAhgCLAJAAlQCaAJ8ApACpAK4AsgC3ALwAwQDGAMsA0ADVANsA4ADlAOsA8AD2APsBAQEHAQ0BEwEZAR8BJQErATIBOAE%2BAUUBTAFSAVkBYAFnAW4BdQF8AYMBiwGSAZoBoQGpAbEBuQHBAckB0QHZAeEB6QHyAfoCAwIMAhQCHQImAi8COAJBAksCVAJdAmcCcQJ6AoQCjgKYAqICrAK2AsECywLVAuAC6wL1AwADCwMWAyEDLQM4A0MDTwNaA2YDcgN%2BA4oDlgOiA64DugPHA9MD4APsA/kEBgQTBCAELQQ7BEgEVQRjBHEEfgSMBJoEqAS2BMQE0wThBPAE/gUNBRwFKwU6BUkFWAVnBXcFhgWWBaYFtQXFBdUF5QX2BgYGFgYnBjcGSAZZBmoGewaMBp0GrwbABtEG4wb1BwcHGQcrBz0HTwdhB3QHhgeZB6wHvwfSB%2BUH%2BAgLCB8IMghGCFoIbgiCCJYIqgi%2BCNII5wj7CRAJJQk6CU8JZAl5CY8JpAm6Cc8J5Qn7ChEKJwo9ClQKagqBCpgKrgrFCtwK8wsLCyILOQtRC2kLgAuYC7ALyAvhC/kMEgwqDEMMXAx1DI4MpwzADNkM8w0NDSYNQA1aDXQNjg2pDcMN3g34DhMOLg5JDmQOfw6bDrYO0g7uDwkPJQ9BD14Peg%2BWD7MPzw/sEAkQJhBDEGEQfhCbELkQ1xD1ERMRMRFPEW0RjBGqEckR6BIHEiYSRRJkEoQSoxLDEuMTAxMjE0MTYxODE6QTxRPlFAYUJxRJFGoUixStFM4U8BUSFTQVVhV4FZsVvRXgFgMWJhZJFmwWjxayFtYW%2BhcdF0EXZReJF64X0hf3GBsYQBhlGIoYrxjVGPoZIBlFGWsZkRm3Gd0aBBoqGlEadxqeGsUa7BsUGzsbYxuKG7Ib2hwCHCocUhx7HKMczBz1HR4dRx1wHZkdwx3sHhYeQB5qHpQevh7pHxMfPh9pH5Qfvx/qIBUgQSBsIJggxCDwIRwhSCF1IaEhziH7IiciVSKCIq8i3SMKIzgjZiOUI8Ij8CQfJE0kfCSrJNolCSU4JWgllyXHJfcmJyZXJocmtyboJxgnSSd6J6sn3CgNKD8ocSiiKNQpBik4KWspnSnQKgIqNSpoKpsqzysCKzYraSudK9EsBSw5LG4soizXLQwtQS12Last4S4WLkwugi63Lu4vJC9aL5Evxy/%2BMDUwbDCkMNsxEjFKMYIxujHyMioyYzKbMtQzDTNGM38zuDPxNCs0ZTSeNNg1EzVNNYc1wjX9Njc2cjauNuk3JDdgN5w31zgUOFA4jDjIOQU5Qjl/Obw5%2BTo2OnQ6sjrvOy07azuqO%2Bg8JzxlPKQ84z0iPWE9oT3gPiA%2BYD6gPuA/IT9hP6I/4kAjQGRApkDnQSlBakGsQe5CMEJyQrVC90M6Q31DwEQDREdEikTORRJFVUWaRd5GIkZnRqtG8Ec1R3tHwEgFSEtIkUjXSR1JY0mpSfBKN0p9SsRLDEtTS5pL4kwqTHJMuk0CTUpNk03cTiVObk63TwBPSU%2BTT91QJ1BxULtRBlFQUZtR5lIxUnxSx1MTU19TqlP2VEJUj1TbVShVdVXCVg9WXFapVvdXRFeSV%2BBYL1h9WMtZGllpWbhaB1pWWqZa9VtFW5Vb5Vw1XIZc1l0nXXhdyV4aXmxevV8PX2Ffs2AFYFdgqmD8YU9homH1YklinGLwY0Njl2PrZEBklGTpZT1lkmXnZj1mkmboZz1nk2fpaD9olmjsaUNpmmnxakhqn2r3a09rp2v/bFdsr20IbWBtuW4SbmtuxG8eb3hv0XArcIZw4HE6cZVx8HJLcqZzAXNdc7h0FHRwdMx1KHWFdeF2Pnabdvh3VnezeBF4bnjMeSp5iXnnekZ6pXsEe2N7wnwhfIF84X1BfaF%2BAX5ifsJ/I3%2BEf%2BWAR4CogQqBa4HNgjCCkoL0g1eDuoQdhICE44VHhauGDoZyhteHO4efiASIaYjOiTOJmYn%2BimSKyoswi5aL/IxjjMqNMY2Yjf%2BOZo7OjzaPnpAGkG6Q1pE/kaiSEZJ6kuOTTZO2lCCUipT0lV%2BVyZY0lp%2BXCpd1l%2BCYTJi4mSSZkJn8mmia1ZtCm6%2BcHJyJnPedZJ3SnkCerp8dn4uf%2BqBpoNihR6G2oiailqMGo3aj5qRWpMelOKWpphqmi6b9p26n4KhSqMSpN6mpqhyqj6sCq3Wr6axcrNCtRK24ri2uoa8Wr4uwALB1sOqxYLHWskuywrM4s660JbSctRO1irYBtnm28Ldot%2BC4WbjRuUq5wro7urW7LrunvCG8m70VvY%2B%2BCr6Evv%2B/er/1wHDA7MFnwePCX8Lbw1jD1MRRxM7FS8XIxkbGw8dBx7/IPci8yTrJuco4yrfLNsu2zDXMtc01zbXONs62zzfPuNA50LrRPNG%2B0j/SwdNE08bUSdTL1U7V0dZV1tjXXNfg2GTY6Nls2fHadtr724DcBdyK3RDdlt4c3qLfKd%2Bv4DbgveFE4cziU%2BLb42Pj6%2BRz5PzlhOYN5pbnH%2Bep6DLovOlG6dDqW%2Brl63Dr%2B%2ByG7RHtnO4o7rTvQO/M8Fjw5fFy8f/yjPMZ86f0NPTC9VD13vZt9vv3ivgZ%2BKj5OPnH%2Blf65/t3/Af8mP0p/br%2BS/7c/23////bAEMAAgEBAgEBAgICAgICAgIDBQMDAwMDBgQEAwUHBgcHBwYHBwgJCwkICAoIBwcKDQoKCwwMDAwHCQ4PDQwOCwwMDP/bAEMBAgICAwMDBgMDBgwIBwgMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDP/AABEIABsAKAMBEQACEQEDEQH/xAAYAAADAQEAAAAAAAAAAAAAAAAHCAkGBP/EAC4QAAEDAgUCBAYDAQAAAAAAAAECAwQFEQAGCBIhBzEJEyJBFBUjMlJhFkJR0f/EABsBAAIDAQEBAAAAAAAAAAAAAAQGAgMFBwAB/8QALxEAAQMDAgMGBQUAAAAAAAAAAQIDEQAEIQUxEkFRBmFxgZHBExQiQvEVMlKhsf/aAAwDAQACEQMRAD8AllpP1S1/oLkd3O%2BWizIq/T2dFdXFdbK2lRluLS1zfhP13m1e4Cx37BG1fSGbm%2B%2BRekJeSSFA5CwASY6/SCPOqlAyD0qkGlnxAKLqOXW6tPp8KPU46Q/l0R7pXGeKbKbfQ2Al1QG6y0/iolIsML6ezdxZJaYDij/InnHQnIHd4QTX16AZPjXZ4h%2BoiHTFZRzO/OkQq9U8llbM94qLwQ1VZzTSbJOzY00yB7XBFybqOG3W7W4%2BTsmWZKPuHWIA9Zj22rPy6vPKgr0i1BnTVpgT1KzPTFV3P9cYdapVMaCY6KFEeBPxDznqUlyQm6wkjfsVc23gDmXaTi1jVBotm5wsIIK1fu41J%2B0DaEHHSfCiVwTHOkd1G64M49V58qGmqfKsvyFLPy6mkMKeCgNynVD%2BxAAIFrJSBxa2OiaH2TsrVCVlPE4PuVkDfYdB/ZzU0MpGYrj0n04Q65nlksCZluq5bkRpwTbykg7dpJVeykuAKFjxYm9hfHu1xJFqplXC6l1JT17/ACIwZ3mKm7tAra6CKLXOmnVqjyHaJmkSI0zy32k0xx2OsepDlxsIPo3gEHvyMN1/ZvahaKat%2BYkHY9RB8Ymqn1cKSpO9OD4xjEzJbfQxgMT5lIPTaG5WNsMlMUqmSnnWlhJIQtW4pIVxZaSbA4u7QaYtduhDQhSBAzzxny360PaAkE9anl181F5r1FvsJWzNiZfhbg3Cihb3luqUVKW8oAFThuOTxYCw9sKWh9nLLSASSC4rdRgYA2A5AfmjghIzzoaJpsldPQIpVJlPkpWhtB3s24sRb/Pyt/xnABPFyqc0cOiSqdkvLdcXIfCkzAFtBv6UZbljsSpKjzYEEDm17nthb1XUrlBQzbDc5xJjny/JrRbtUkhSqN2mfPWaZVU84VqvSUz6gstQky3khRCSpaw0lRSnkgX4Ha45xe9dXTiPhtKJPcTRItWwMiKaPVd1A/mlJy%2BxLq2aKRUKZSG4TcSntBTLzaBtLr7S3EKJJO3d6uAOOxxv6zcuONJClFBSABwj1kTM%2BHKhLO3SiSnMnn7UmNSpdLp1TdVAzjAjzHHAVtvNmOpSzyE2Udqj25/f6OFAKW6ApZ4o67%2Bh96PWyk4IFDTPPTSRkmrzS4zEe%2BLUtxTw%2Bxy5uewANr9xcc8Y2mblYAnHpQi7dG0VneiTy3ZsxxxSniw4Eth0%2BYlu4INgq4HHvbAmoJBKU8vT/KsYMEmm/wDDrkroVYfTFIQJcN4O7khzd62Rcbr2NieRY8nG12QbTcXTiHhICap1RammErbMEk04muGnRc49Ocov1SHCmyKxDc%2BNecjoLkgDakAqtewSAAAbCw4wbeJS%2BtRdAMYGBjJom3Hw2wEYnephZxzLOlZ2qMR6Qp%2BMiKtoNugLASASByD2sMJDzCG3YQIzRTa1KEKzWYzbPep3TuDOYcU3IYcMZFvsDYsQnZ9pHqV3HviuxuXf1BTBV9MTHf7eVSuWki2DgGZr/9k%3D%22%0A%20%20%20%20%20%20%20%20%20x%3D%220%22%20y%3D%220%22%0A%20%20%20%20%20%20%20%20%20height%3D%22100%25%22%20width%3D%22100%25%22/%3E%0A%3C/svg%3E%0A);
}

div#landing-screen div.valign-table
{
    background-image: url('/images/waterfall.jpg');
}

div#landing-screen-2
{
    display: table;
    height:100vh;
    width: 100%;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20%20%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20%20%20%20%20width%3D%221500%22%20height%3D%22823%22%0A%20%20%20%20%20viewBox%3D%220%200%201500%20823%22%3E%0A%20%20%3Cfilter%20id%3D%22blur%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%2220%2020%22%20edgeMode%3D%22duplicate%22%20/%3E%0A%20%20%20%20%3CfeComponentTransfer%3E%0A%20%20%20%20%20%20%3CfeFuncA%20type%3D%22discrete%22%20tableValues%3D%221%201%22%20/%3E%0A%20%20%20%20%3C/feComponentTransfer%3E%0A%20%20%3C/filter%3E%0A%20%20%3Cimage%20filter%3D%22url%28%23blur%29%22%0A%20%20%20%20%20%20%20%20%20xlink%3Ahref%3D%22data%3Aimage/jpeg%3Bbase64%2C/9j/4AAQSkZJRgABAQEASABIAAD/2wBDAAUDBAQEAwUEBAQFBQUGBwwIBwcHBw8LCwkMEQ8SEhEPERETFhwXExQaFRERGCEYGh0dHx8fExciJCIeJBweHx7/2wBDAQUFBQcGBw4ICA4eFBEUHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh4eHh7/wAARCAAXACgDAREAAhEBAxEB/8QAGAABAAMBAAAAAAAAAAAAAAAABgADBwX/xAAqEAABBAAFAwQBBQAAAAAAAAABAgMEEQAFEiExBhMUIkFRYXEHJDKBwf/EABkBAQEBAAMAAAAAAAAAAAAAAAQDBQECBv/EACkRAAICAQIFAgcBAAAAAAAAAAECAAMRBCESEzFBUSLwMmFxgZHB4fH/2gAMAwEAAhEDEQA/AMg/Rl2WzKix1OIKFLCktKVaQLJLgIPsCfxjG1%2Biqtyx6%2BZJtGrNxnrN266z6C7neVttdoojpfSyirGoIQtAr2/jXPvjCXS2IjAHqR/ZHWAndIb6zznLeoW43UEKI4869rakJQtSSUq2UBYqtNpvnnCKENCsjDHfPmEvqLgv3g%2BbMy19yK21Jgr7TiV6nxTSVUasgWQAkbH3V8WcU55rUFEOcb/nsJnKhCY6QZ111MZL8NrsMnxw6tCwige5uQBuD6tRB%2BydsN0i2u7Wu2c4GPGPf%2Bx%2BnrJyxPid7prKEQIDWYyM0iMpkoBY03qSk2Luq2IO/wCecaLnORjpPQAcA69YleciZrlkCXCdhuTGJyVKtKmxIGgtne6ojcEirsWMFsryTnaEtqydmIklNRoTkjys5IYQAowe0pK0gqI0gbgp1A7hX%2BYKtbH4V%2B%2BZwNMUQ8JGfnA3VsZtp0%2BOqS6wsBamihVJJPND4/vjF6q8nJG/mDXS2EniAH7gzMUNrOpsApo7DVYH3fG94VWpXYylWnZQATvG%2BRy1Z6iVOdy9lyS2FOK7OlqlEhKK2oUSNq3s4Q1S1pudpoj1CWSZaIuRw4vliVPdeX32ileltAJHbs0FCt6FVxeA2ixCWOyj39ZJbQSRjaJ4vWuU57lystkZc55vaLaQ2EoSE8kpUK972UCCPvkNmkeoi5G2iYQ6re8B3U%2Byh2Mqu24DsmvSTVWB9J0%2B/OGaeznDAODOpTEJdROO2084yyEOp/bqTwaPO/q3Pz8YrVSFYqCc95mrpeW3oY7%2BTnM//9k%3D%22%0A%20%20%20%20%20%20%20%20%20x%3D%220%22%20y%3D%220%22%0A%20%20%20%20%20%20%20%20%20height%3D%22100%25%22%20width%3D%22100%25%22/%3E%0A%3C/svg%3E%0A);
    background-size: cover;
}

div#landing-screen-2 div.valign-table
{
    background-image: url('/images/log.jpg');
}

div#landing-screen-3
{
    display: table;
    height: 100vh;
    width: 100%;
}

div#landing-screen-3 div#picture img
{
    width: 50vw;
}

div#landing-screen-3 div#picture img
{
    padding: 1em;
}

div#footer
{
    background-color: black;
    color: white;
    text-align: center;
}

div#footer ul
{
    display: inline-block;
    margin: auto;
    padding: 0;
}

div#footer li
{
    display: inline-block;
    padding: 0.5em;
}


div#greeting
{
    background-color: white;

    display: table;
    /* width: 400px; */
    margin: 10 auto;
    padding: 10;

    font-family: sans-serif;
    font-weight: bold;
}

body 
{
    margin: 0;
}

/* https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers */
div.valign-table
{
    display: table;
    height: 100%;
    width: 100%;
}

div.valign-cell
{
    display: table-cell;
    vertical-align: middle;
}

div.valign-content
{
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}
